<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dfiqhpsxy/image/upload/v1599382661/obc4vyxwdqfcn6ut5lqm.jpg)">
  <div class="banner-container">
  <h1>Mister Cocktail</h1>
  </div>
</div>

<div class="container">
<h2 class="text-center">Our Cocktails</h2>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class = "card"><p><%= link_to cocktail.name, cocktail_path(cocktail) %></p></div>
  <% end %>
  </div>
</div>

<div class="link-container">
<p class="new-link"><i class="fas fa-plus"></i> <%= link_to 'New Cocktail', new_cocktail_path%></p>
</div>


