// Specific CSS for your home-page
body {
  background-color: #fff1e6;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  color: #fff1e6;
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 40px;
  color: #a5a58d;
}

.banner {
  background-size: contain;
  background-position: center;
  padding: 150px 0;
}

.container {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

//card

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  width: 150px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.card-category {
  width: 200px;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  padding: 15px;
  border: 2px solid #ddbea9;
}

// .card-category p {
//   font-size: 20px;
//   font-weight: 600;
//   color: #cb997e;
// }

// .card-category p.hover {
//   color: #ddbea9;
// }

.btn-ghost {
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  opacity: 1;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 800;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  position: center;
}

.btn-ghost:hover {
  opacity: 0.8;
  color: grey;
  border: 3px solid grey;
  background-color: #fff1e6;
}

.link-container {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
}

//new link

.button {
  color: #CCCCCC;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #a5a58d;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.button a {
  color: #FFFFFF;
  text-decoration: none;
}

//footer

.footer {
  border-top: 1px solid #ddbea9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

