// Specific CSS for your home-page
body {
  background-color: #fff1e6;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  color: #fff1e6;
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 40px;
  color: #a5a58d;
}

.card a {
  font-size:20px;
  color: #cb997e;
}

.card a.hover {
  color: #ddbea9;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 140px;
  height: 60px;
  vertical-align: center;
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 15px;
  border: 5px solid #ddbea9;
}

.link-container {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.new-link {
  color: #a5a58d;
  width: 200px;
  height: 60px;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddbea9;
  border-top: 1px solid #ddbea9;
}

.new-link a {
  color: #a5a58d;
  font-size:20px;
}
